[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
pytest-cov = "*"
autopep8 = "*"
codacy-coverage = "*"

[packages]
simpy = "*"
codecov = "*"
pygame = "==2.0.0.dev8"
esper = "*"
pyglet = "*"
collision = "*"
pep8 = "*"
colorama = "*"

[requires]
python_version = "3.8.2"
