[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
pytest-cov = "*"
autopep8 = "*"
codacy-coverage = "*"
pytest-bdd = "*"

[packages]
simpy = "*"
codecov = "*"
esper = "*"
collision = "*"
pep8 = "*"
colorama = "*"
pyrebase = '*'
python-dotenv = '*'
pytest-cov = "*"
pyyaml = "*"
click = "*"

[requires]
python_version = "3.8.5"
